<section class="about">
<h1>JOB TRACKYEE</h1>
<h2>Organised you, Successful you!</h2>
<div class="about-para" id="left">
<div class="class1">
<p>Welcome to your one stop destination to keep track of your job search</p>
<p>Job Search can be overwhelming but keeping an organised job search can help you through your journey </p>
<p>This site is designed to help keep the job searchers a track of their applications</p>
<ul>
    {{#each role}}
        <li>{{this.name}}</li>
    {{/each}}

</div>
</ul>

<div class="abt-1" id="right">
    <img style="width:26rem" src="/images/img1.jpeg" id="img-1">

</div>
</div>
</section>