<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!--Link to bootsrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    
    <!--link to css-->
    <link rel='stylesheet' href='/stylesheets/style.css' /> 
    
    <!--Link to js-->
     <script src="/javascripts/script.js" defer></script>
 
  </head>
  <body>
    <!-- Bootstrap Navbar -->
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
      <img src="/images/logo.png" height="76">
    </a>
        <a style="color:white;" class="navbar-brand" href="/about">Job Trackyee</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
         
            <li class="nav-item">
              <a style="color:white; font-size:20px" class="nav-link" href="/details">ApplicationDetails</a>
            </li>
            <li class="nav-item">
              <a style="color:white; font-size:20px" class="nav-link" href="/role">Roles</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
         
            {{#if user}}
             <li class="nav-item">
              <a style="font-size:20px;color:white" class="nav-link" href="#">{{user.username}}</a>
             </li>
            <li class="nav-item">
              <a style="color:white; font-size:20px" class="nav-link" href="/auth/logout">Logout</a>
            </li>
             {{else}}

            <li class="nav-item">
              <a style="color:white; font-size:20px" class="nav-link" href="/auth/register">Register</a>
            </li>
            <li class="nav-item">
              <a style="color:white; font-size:20px" class="nav-link" href="/auth/login">Login</a>
            </li>
               {{/if}}

          
          </ul>
        </div>
      </div>
    </nav>
    {{{body}}}
  
  </body>
</html>
