<h1>Create a New Role</h1>
<form method="post">
    <fieldset>
        <label for="name" class="col-2">Name: *</label>
        <input name="name" id="name" required />
    </fieldset>
    <button class="offset-2">Save</button>
</form>